<main>
    <section id="hero">
        <div class="container">
            <div class="bg">
                <div class="c1"></div>
                <div class="c2"></div>
            </div>
            <div>
                <div class="content">
                    <svg class="hero-acs" width="192" height="309" viewBox="0 0 192 309" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M192 113L0 248V309L192 174V113Z" fill="#ECC45D" />
                        <path d="M192 0L0 135V154L192 19V0Z" fill="#ECC45D" />
                    </svg>
                    <!-- <img class="hero-image" src="/images/profile-hero.png" alt=""> -->
                    <svg class="hero-image" width="410" height="202" viewBox="0 0 410 202" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <mask id="maskProfile">
                                <rect x="29" width="381" height="134" fill="white" />
                                <rect y="95" width="381" height="107" fill="white" />
                            </mask>
                        </defs>
                        <g mask="url(#maskProfile)">
                            <rect width="500" height="500" fill="#CDD1DC" />
                            <image x="240" y="40" class="hero-image" xlink:href="/images/profile.png" alt="">
                        </g>
                    </svg>
                    <p class="name">I'm Fadhlur</p>
                    <a href="/about" class="link-arrow">
                        <div class="bg"></div>
                        <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg"
                            transform="rotate(-35)">
                            <path
                                d="M12.9375 0.0636787L21.2045 10.6519L25.1518 10.6519L16.8848 0.0636786L12.9375 0.0636787Z"
                                fill="#ECC45D" />
                            <path d="M14.2231 18.0637L23.3603 7.47546L27.7231 7.47546L18.5859 18.0637L14.2231 18.0637Z"
                                fill="#ECC45D" />
                            <path d="M2.82704 10.9923L23.866 10.9923L21.7621 7.77799L0.723145 7.77799L2.82704 10.9923Z"
                                fill="#ECC45D" />
                        </svg>
                        <p>About</p>
                    </a>
                    <div class="hello">
                        <h1>HELLO</h1>
                    </div>
                    <div class="lurs">
                        <h1>LURS</h1>
                    </div>
                </div>
                <p class="role">Front-End<br />Developer</p>
                <div class="porto">
                    <p>Portfolio</p>
                    <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.258 0L7.51636 8.3868L7.51636 12.3913L18.258 4.00451V0Z" fill="currentColor" />
                        <path d="M0.000253677 1.30434L10.7419 10.574V15L0.000253677 5.73038V1.30434Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="top">
                <h1 class="scrl-obj">
                    PORTFOLIO
                </h1>
            </div>
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% data.forEach((porto,idx)=>{ %>
                            <li class="splide__slide">
                                <div class="box">
                                    <div class="content">
                                        <a href="/portfolio/<%= porto.url %>" class="image-box" id="Storein">
                                            <img class="image-content" src="/images/port/<%= porto.image %>">
                                        </a>
                                        <a class="demo-link <%= porto.actionColor ? 'text-white' : '' %>" href="<%= porto.link %>" target="_blank"><%= porto.action %> ➔
                                            <!-- <svg style="padding-top: 2px;" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            viewBox="0 0 14 14" data-reveal>
                                            <path d="M0 7.875h10.649l-4.887 4.887L7 14l7-7-7-7-1.238 1.238 4.887 4.887H0Z"
                                                fill="<%= porto.actionColor %>"></path>
                                            </svg> -->
                                        </a>
                                        <h2 class="title"><%= porto.title %></h2>
                                        <p class="desc"><%= porto.shortDesc %></p>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <div class="indicator">
                <div class="container">
                    <div class="slider"></div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="line"></div>
        <div class="c1"></div>
        <div class="container">
            <div class="content">
                <a href="mailto:lurs.hello@gmail.com" class="mail">lurs.hello@gmail.com
                    <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(-35)">
                        <path
                            d="M12.9375 0.0636787L21.2045 10.6519L25.1518 10.6519L16.8848 0.0636786L12.9375 0.0636787Z"
                            fill="#ECC45D" />
                        <path d="M14.2231 18.0637L23.3603 7.47546L27.7231 7.47546L18.5859 18.0637L14.2231 18.0637Z"
                            fill="#ECC45D" />
                        <path d="M2.82704 10.9923L23.866 10.9923L21.7621 7.77799L0.723145 7.77799L2.82704 10.9923Z"
                            fill="#ECC45D" />
                    </svg>
                </a>
                <div class="social">
                    <a href="https://www.instagram.com/f.dlur" target="_blank">Instagram</a>
                    <a href="https://www.linkedin.com/in/ahmad-fadhlur/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/delurd" target="_blank">Github</a>
                </div>
            </div>
        </div>
        <div class="cr">
            <p>© 2024</p>
            <p>hellolurs</p>
        </div>
    </footer>
</main>