<main id="about">
    <a href="/" class="close-btn">
        <span>+</span>
    </a>
    <div class="bodyAbout">
        <div class="bg">
            <div class="grad1"></div>
            <div class="grad2"></div>
        </div>
        <div class="content">
            <div class="row">
                <div>
                    <img src="/images/profile-resume.png" alt="" style="max-width: 300px; margin-top: 20px;">
                </div>
                <div>
                    <h1 class="name">Ahmad Fadhlur Rohman</h1>
                    <b class="role">Front-End Developer</b>
                    <p>Passionate about creating great and attractive visuals.
                        Currently
                        available working with
                        React for web development and React Native for developing mobile app. I also have ability in
                        user interface design using Figma.</p>
                </div>
            </div>
            <%# <!-- <div class="row">
                <div>
                    <div class="section">
                        <p style="margin-bottom: 10px;">4hmad.fadhlur@gmail.com</p>
                        <p>Lamongan, Jawa Timur, Indonesia</p>
                    </div>
                </div>
                <div>
                    <div class="section">
                        <h4 class="title">Education</h4>
                        <div class="item">
                            <p class="title">Teknik Informatika</p>
                            <p class="small">Universitas Muhammadiyah Gresik</p>
                        </div>
                    </div>
                </div>
            </div> --> %>
            <div class="row">
                <div>
                    <div class="section">
                        <p style="margin-bottom: 10px;">4hmad.fadhlur@gmail.com</p>
                        <p>Lamongan, Jawa Timur, Indonesia</p>
                    </div>
                    <div class="section">
                        <h4 class="title">Tech Stack</h4>
                        <p>Javascript</p>
                        <p>CSS</p>
                        <p>Tailwind</p>
                        <p>React</p>
                        <p>Next.js</p>
                        <p>React Native</p>
                        <p>SQL</p>
                    </div>
                    <div class="section">
                        <h4 class="title">Socials</h4>
                        <div style="display: flex; margin-bottom: 25px;">
                            <p class="small secondary">Instagram </p>
                            <a href="https://www.instagram.com/f.dlur" target="_blank"> ‧ f.dlur</a>
                        </div>
                        <div style="display: flex; margin-bottom: 25px;">
                            <p class="small secondary">LinkedIn </p>
                            <a href="https://www.linkedin.com/in/ahmad-fadhlur/" target="_blank"> ‧ ahmad-fadhlur</a>
                        </div>
                        <div style="display: flex; margin-bottom: 25px;">
                            <p class="small secondary">GitHub </p>
                            <a href="https://github.com/delurd" target="_blank"> ‧ delurd</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="section">
                        <h4 class="title">Experience</h4>
                        <div class="item">
                            <div>
                                <p class="title">Magang Bersertifikat Kampus Merdeka ‧ Bangbeli</p>
                                <p>2023</p>
                            </div>
                            <p class="small">React Native Developer</p>
                        </div>
                    </div>
                    <div class="section">
                        <h4 class="title">Course</h4>
                        <div class="item">
                            <div>
                                <p class="title">Studi Independen Bersertifikat ‧ Dicoding</p>
                                <p>2022</p>
                            </div>
                            <p class="small">Pengembang Front-End Web dan Back-End</p>
                        </div>
                    </div>
                    <div class="section">
                        <h4 class="title">Certificate</h4>
                        <div>
                            <p class="title">Menjadi Front-End Web Developer Expert</p>
                            <p class="small">Dicoding Indonesia</p>
                            <p class="small secondary">ID GRX5LDKR2P0M. 2022 - 2025</p>
                        </div>
                        <%# <!-- <div>
                                <p class="title">Belajar Membuat Aplikasi Back-End untuk Pemula</p>
                                <p class="small">Dicoding Indonesia</p>
                                <p class="small secondary">ID RVZK6W1YMZD5. 2022 - 2025</p>
                            </div> --> %>
                        <div>
                            <p class="title">Belajar Membuat Aplikasi Web dengan React</p>
                            <p class="small">Dicoding Indonesia</p>
                            <p class="small secondary">ID 0LZ01E1VQP65. 2022 - 2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>